<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<img src="<%= image_url(@article.img) %>" style="max-height: 300px">
<br>
<% if session[:likes] and session[:likes].include? params[:id] %>
  <%= link_to 'UnLike', article_path(@article) + '/like/' %> <%= @article.likes %>
<% else  %>
    <%= link_to 'Like', article_path(@article) + '/like/' %> <%= @article.likes %>
<% end %>
<br>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>